.vscode/**
.vscode-test/**
out/test/**
out/TestResults/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
sample.md
sample.pdf
sample2.md
coverconfig.json
azure-pipelines.yml
azure-pipelines-steps.yml
