# Node.js
# Build a general Node.js application with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/vsts/pipelines/languages/javascript

jobs:
  - job: Linux
    pool:
      vmImage: 'ubuntu-16.04'
    steps:
      - template: azure-pipelines-steps.yml


jobs:
  - job: Windows
    pool:
      vmImage: 'vs2017-win2016'
    steps:
      - template: azure-pipelines-steps.yml 

- job: macOS
    pool:
      vmImage: 'xcode9-macos10.13'
    steps:
      - template: azure-pipelines-steps.yml 
