<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{title}} </title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="libs/reveal.js/4.3.1/reset.css">
    <link rel="stylesheet" href="libs/reveal.js/4.3.1/reveal.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- highlight Theme -->
    @if(highlightTheme)
    <link rel="stylesheet" href="libs/highlight.js/11.3.1/styles/{{highlightTheme}}.min.css">
    @else
    <link rel="stylesheet" href="libs/highlight.js/11.3.1/styles/monokai.min.css">
    @endif

    <link rel="stylesheet" href="libs/reveal.js/4.3.1/plugin/chalkboard/style.css">

    @if(enableMenu)
    <link rel="stylesheet" href="libs/reveal.js/4.3.1/plugin/customcontrols/style.css">
    @endif

    <!-- Revealjs Theme -->
    @if(theme)
    <link rel="stylesheet" href="libs/reveal.js/4.3.1/theme/{{theme}}.css" id="theme">
    @else
    <link rel="stylesheet" href="libs/reveal.js/4.3.1/theme/black.css" id="theme">
    @endif

    <link rel="stylesheet" href="libs/styles/tasklist.css">
    <link rel="stylesheet" href="libs/styles/iota.css">
    <link rel="stylesheet" href="libs/styles/layout.css">

    <!-- Revealjs Theme -->
    @if(customTheme)
    <link rel="stylesheet" href="{{customTheme}}.css">
    @endif

    <!-- css list -->
    @each(c in css)
    <link rel="stylesheet" href="{{c}}">
    @endeach

</head>

<body>

    @include('partials.logo')

    <div class="reveal">
        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">

            @!section('body')

        </div>


    </div>

    <script src="libs/reveal.js/4.1.3/reveal.js"></script>
    @if(enableZoom)
    <script src="libs/reveal.js/4.1.3/plugin/zoom/zoom.js"></script>
    @endif


    @include('partials.init')

</body>

</html>