.reveal .sl-block[data-block-type="line"] {
    transform: translateZ(0px);
  }
  .reveal .neon-green {
    filter: drop-shadow(0 0 16px rgba(28, 235, 123, 0.2));
  }
  .reveal .neon-text,
  .reveal section a {
    color: rgba(28, 235, 123) !important;
    text-shadow: 0 0 16px rgba(28, 235, 123, 0.4);
  }
  .reveal .neon-text a {
    color: #fff;
  }
  .reveal .controls button {
    color: #1ceb7b;
    filter: drop-shadow(0 0 6px rgba(28, 235, 123, 0.6));
  }
  .reveal .create-deck-button textarea {
    display: none;
  }
  .reveal .create-deck-button form {
    z-index: 100;
    position: relative;
  }
  .reveal .create-deck-button form,
  .reveal .create-deck-button button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
  }
  .reveal .sl-block-content[data-animation-type="slide-left"] {
    transform: translateX(100px);
  }
  .reveal .drape-scale-down {
    transform: scaleY(0.1);
    transition: 0.6s ease 0.2s all;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
  }
  .reveal .present .drape-scale-down {
    transform: none;
    border-radius: 0;
  }
  .reveal .main-slide h1,
  .reveal .mono {
    font-family: "Roboto Mono", sans-serif;
  }
  @keyframes flash-opacity {
    0%,
    49% {
      opacity: 0;
    }
    50%,
    100% {
      opacity: 1;
    }
  }
  .reveal .terminal-caret {
    animation: flash-opacity 1.5s infinite;
  }
  .reveal .extra-line-emphasis .hljs[data-line-numbers]:not([data-line-numbers=""]) tr:not(.highlight-line) {
    opacity: 0.3;
  }
  .reveal .progress {
    height: 4px;
    display: none !important;
  }
  .reveal .media-shadow {
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.5), 0 15px 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  .reveal .media-shadow img,
  .reveal .media-shadow video {
    border-radius: 4px;
  }
  .custom-styled-slide-number .reveal .slide-number {
    padding: 0;
    line-height: 32px;
    min-width: 32px;
    font-size: 16px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    background-color: #4da2e1;
  }
  @-webkit-keyframes float-animation {
    0% {
      -webkit-transform: translate(0, 0px);
    }
    65% {
      -webkit-transform: translate(0, 25px);
    }
    100% {
      -webkit-transform: translate(0, 0px);
    }
  }
  @-moz-keyframes float-animation {
    0% {
      -moz-transform: translate(0, 0px);
    }
    65% {
      -moz-transform: translate(0, 25px);
    }
    100% {
      -moz-transform: translate(0, 0px);
    }
  }
  @keyframes float-animation {
    0% {
      transform: translate(0, 0px);
    }
    65% {
      transform: translate(0, 25px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }
  .reveal .float-animation {
    -webkit-animation: float-animation 5s infinite ease-in-out;
    animation: float-animation 5s infinite ease-in-out;
  }
  @-webkit-keyframes highlight-feature {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: scale(1);
    }
    40% {
      -webkit-transform: scale(1.1);
    }
    60% {
      -webkit-transform: scale(0.95);
    }
  }
  @keyframes highlight-feature {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.1);
    }
    60% {
      transform: scale(0.95);
    }
  }
  .reveal .fragment.slide-up {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  .reveal .fragment.slide-up.visible {
    -webkit-transform: none;
    transform: none;
  }
  .reveal .highlight-feature {
    opacity: 0;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
  }
  .reveal section.present .highlight-feature {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-animation: highlight-feature 1s infinite both ease-out;
    animation: highlight-feature 1s infinite both ease-out;
  }
  .reveal .slide-up-intro,
  .reveal .slide-up-intro-2,
  .reveal .slide-up-intro-3 {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.6s ease 0.6s;
    transition: all 0.6s ease 0.6s;
  }
  .reveal .slide-up-intro-2 {
    -webkit-transition: all 0.6s ease 0.7s;
    transition: all 0.6s ease 0.7s;
  }
  .reveal .slide-up-intro-3 {
    -webkit-transition: all 0.6s ease 1.2s;
    transition: all 0.6s ease 1.2s;
  }
  .reveal section.present .slide-up-intro,
  .reveal section.present .slide-up-intro-2,
  .reveal section.present .slide-up-intro-3 {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  .reveal section.has-dark-background a {
    color: #1baee1;
  }
  .reveal .progress span {
    background: #1ceb7b !important;
  }